/*------------------------------------*\
  # GRADIENT TEXT
\*------------------------------------*/

.gradientText {
  background: linear-gradient(
    to right,
    #0a915f,
    #F5F5DC,
    #1DB954,
    #F5F5DC,
    #0a915f,
    #F5F5DC,
    #1DB954
  );
  background-size: 300% 300%;
  background-clip: text;
}

.gradientConvert {
  background: linear-gradient(
    to right,
    #D6EFD8,
    #80AF81,
    #508D4E,
    #1A5319,
    #D6EFD8,
    #508D4E,
    #80AF81
  );
  background-size: 300% 300%;
  background-clip: text;
}

.gradientBorderNeutral {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #cccccc
      ) border-box;
  animation: 10s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradientBorderNeutralPane {
  padding: 12px;
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #cccccc
      ) border-box;
  animation: 1.5s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.gradientBorderGreen {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border: 1px solid #0000;
  border-radius: 12px;
  background: linear-gradient(#1a1a1a, #1a1a1a) padding-box, linear-gradient(
        var(--angle),
        #070707,
        #0a915f
      ) border-box;
  animation: 3s rotate linear infinite;
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

/*------------------------------------*\
  # HELPER LOADER - FETCHING DATA
\*------------------------------------*/

.helperLoader {
  width: 48px;
  height: 48px;
  display: block;
  margin:15px auto;
  position: relative;
  color: #FFF;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.helperLoader::after,
.helperLoader::before {
content: '';  
box-sizing: border-box;
position: absolute;
width: 24px;
height: 24px;
top: 50%;
left: 50%;
transform: scale(0.5) translate(0, 0);
background-color: #FFF;
border-radius: 50%;
animation: animloader 1s infinite ease-in-out;
}
.helperLoader::before {
background-color: green;
transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
} 
@keyframes animloader {
  50% {
    transform: scale(1) translate(-50%, -50%);
}
}

/*------------------------------------*\
# MAIN LOADER - PERFORMING CONVERSION
\*------------------------------------*/

.convertLoader {
width: 48px;
height: 48px;
border-radius: 50%;
display: inline-block;
border-top: 4px solid #FFF;
border-right: 4px solid transparent;
box-sizing: border-box;
animation: rotation 1s linear infinite;
}
.convertLoader::after {
content: '';  
box-sizing: border-box;
position: absolute;
left: 0;
top: 0;
width: 48px;
height: 48px;
border-radius: 50%;
border-bottom: 4px solid green;
border-left: 4px solid transparent;
}
@keyframes rotation {
0% {
  transform: rotate(0deg);
}
100% {
  transform: rotate(360deg);
}
} 